@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

$main-color: #474d74;
$sec-color: lavender;
$border-radius-value: 15px;

// General styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: grid;
  grid-template: 200px, 1fr / repeat(auto, 1fr);
}

ul {
  list-style-type: none;
}

// Header
.top-header {
  background: $main-color;

  h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
    padding: 2em;
  }
}


// Sidebar
.sidebar {
  grid-column: 1 / span 1;
  padding: 2em;
  width: 15em;

  .sidebar-wrapper {
    border: 2px $main-color solid;
    border-radius: $border-radius-value;
    background-color: lightcyan;
  }

  .sidebar-home {
    text-align: center;
    padding: 0.5em 0.8em;
    background-color: $main-color;
    color: white;
    border-top-left-radius: $border-radius-value;
    border-top-right-radius: $border-radius-value;

    &:hover {
      background-color: $sec-color;
      color: $main-color
    }
  }

  a {
    margin: 0.5em 0 0.5em;
    text-decoration: none;
    color: $main-color;
  }

  li {
    margin: 0.5em 0 0.5em;
    text-align: center;

    &:hover {
      font-weight: bold;
    }
  }
}



// Input form
fieldset {
  padding: 1em;
  margin-bottom: 2em;
  border: 1px solid $main-color;
}

legend {
  border: 2px solid $main-color;
  color: $main-color;
  padding: 0.1em 0.5em;
  border-radius: $border-radius-value;
}

.input-form {
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 2em 0;

  .filter-list-wrapper {
    display: flex;
    padding: 0.5em 0;
  }

  .filter-list-item {
    display: inline-block;
    padding: 0 1em;
  }
}

.icon {
  margin: 0 0.25em;
}

// Tables
table {
  border-collapse: collapse;
  margin-bottom: 2em;
}

th {
  color: $main-color;
  padding: 0.2em 0.5em;
}

td {
  padding: 0.2em 0.5em;
}

thead tr:first-child {
  border-top: 2px solid $main-color;
}

thead tr:last-child {
  border-bottom: 1px solid $main-color;
}

tbody tr:nth-child(even) {
  background-color: $sec-color;
}

tbody tr:last-child {
  border-bottom: 2px solid $main-color;
}

tbody tr td:first-child {
  font-weight: bold;
  color: $main-color;
}

.table-section {
  grid-area: 3 / 1 / 3 / 3;
  margin-top: 3em;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.aggregate-table {
  margin: 1em;
}

.table-header {
  color: $main-color;
  text-align: center;
  border: 3px solid $main-color;
  display: inline;
  align-self: center;
  border-radius: $border-radius-value;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

// Student page
.student-card {
  grid-column: 2 / span 1;
  width: 20em;
  margin: 2em 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius-value;
  border: 2px solid $main-color;
  background-color: $main-color;

  .student-image {
    border-radius: 50%;
    border: 5px solid white;
    width: 10em;
    margin-top: 2em;
  }

  .student-title {
    text-align: center;
    color: white;
    margin: 2em;
  }

  .student-age {
    width: 100%;
    text-align: center;
    background-color: white;
    font-weight: bold;
    padding-top: 2em;
  }

  .student-email {
    @extend .student-age;
    border-bottom-left-radius: $border-radius-value;
    border-bottom-right-radius: $border-radius-value;
    padding-bottom: 1em;
  }
}

// Chart
.evaluation-chart {
  margin-top: 1em;
  grid-column: 1 / span 2;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-header {
  text-align: center;
  color: $main-color;
  border: 3px solid $main-color;
  display: inline;
  border-radius: $border-radius-value;
  padding: 0.5em 1em;
}
